/test/testWindows/*.opensdf
/test/testWindows/*.sdf
/test/testWindows/x64/Debug/*.log
/test/testWindows/x64/Debug/testCore.tlog/*.tlog
/test/testWindows/x64/Debug/testCore.tlog/*.lastbuildstate
/test/testWindows/x64/Debug/testCore.tlog/*
/test/testWindows/x64/Debug/*.idb
/test/testWindows/x64/Debug/*.pdb
